name: Deploy to staging

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to staging
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH and deploy
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
          
          ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@13.200.219.165 << 'EOF'
            cd Shapify---Collaborative-Real-Time-Whiteboard/
            git pull
            pnpm install
            pnpm run build
            pm2 restart all --update-env
          EOF
